body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
}

#subtitle {
  text-align: center;

}

#image-caption {
  font-size: .9em;
  text-align: center;
}

#main {
  margin: 5px 10px 5px 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  background-color: #edd9a1;
  border-radius: 5px;
}

#image {
  height: auto;
  display: block;
  width: 92%;
  padding: 30px;
  margin: auto;
  background-color: #FFFFFF;
}

#tribute-info {
  width: 80%;
  margin: auto;
}

#link-description {
  text-align: center;
  font-weight: 600;
}

li {
  padding: 6px 0px 6px 0px;
}

#list-title {
  text-align: center;
}

#quote {
  text-align: left;
  display: block;
  margin: auto;
  font-style: italic;
  width: 70%;

}
